{
    "useTabs": false,
    "semi": true,
    "trailingComma": "none",
    "singleQuote": false,
    "tabWidth": 4,
    "printWidth": 120,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid"
}
