#PreDashboardView {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

#introText {
    margin-bottom: 30px;
    color: var(--primary-color);
}

#uploadTitle {
    left: 0;
    width: 100%;
    font-size: 23px;
    color: var(--primary-color);
}

#welcomeOverlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: scaleAndFade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    position: absolute;
}

#welcomeOverlay > h1 {
    margin: 0;
    font-size: 35px;
    animation-name: scaleAndFade;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    color: var(--primary-color);
}

@keyframes scaleAndFade {
    0% {
    }
    100% {
        font-size: 200px;
        opacity: 0;
        display: none;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#predashboardContainer {
    width: 90%;
    min-width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-delay: 1.2s;
    z-index: 2;
}

#permissionStatusContainer {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#permissionStatusContainer > h1 {
    font-size: 23px;
    margin: 0;
    color: var(--primary-color);
}

.permissionTitleContainer {
    margin-top: 20px;
    width: 100%;
    display: flex;
}

.permissionTitle {
    margin-left: 7%;
    font-size: 20px;
    color: var(--primary-color);
}

.permissionStatus {
    margin-left: 5%;
}

.granted {
    color: green;
}

.denied {
    color: red;
}

.recheckPermissionButton {
    margin-left: 20px;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    background: var(--background-color);
    transition: border-radius 0.25s;
    outline: none;
}

.recheckPermissionButton:hover {
    border-radius: 15px;
    cursor: pointer;
}

#fcmClientDrop {
    height: 25%;
    width: 90%;
    border-radius: 20px;
    border: 3px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: border-radius 0.25s;
}

h3 {
    margin: 0;
}

#fcmServerDrop {
    height: 25%;
    width: 90%;
    border-radius: 20px;
    border: 3px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-radius 0.25s;
}

#fcmClientDrop:hover {
    border-radius: 30px;
}

#fcmServerDrop:hover {
    border-radius: 30px;
}

#fcmClientDrop div p {
    color: var(--primary-color);
}

#fcmServerDrop div p {
    color: var(--primary-color);
}
