#settingsTopNav {
    width: 100%;
    height: 10%;
    /* background-color: red; */
    margin-top: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#settingsTopLeftNav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#settingsTopLeftNav > h1 {
    margin: 0;
    font-size: 30px;
}

#dashboardIconLink {
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-right: 8px;
    transition: transform 0.9s;
}

#dashboardIconLink:hover {
    transform: rotate(360deg);
}
