#SettingsView {
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#settingsLowerContainer {
    height: 88%;
    width: 100%;
    display: flex;
    align-items: center;
}

#settingsMainRightContainer {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: scroll;
}

.aInput {
    margin: 0 0 0 65px;
    width: calc(100% - 180px);
    background-color: rgb(153, 153, 153);
    border: none;
    border-radius: 4px;
    outline: none;
    padding: 3px 10px;
    font-size: 16px;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    transition: background-color 0.2s;
}

.aInput:hover {
    background-color: grey;
}

.aInput::placeholder {
    color: black;
}

/* Checkbox */

.form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.form-switch i {
    position: relative;
    display: inline-block;
    margin-right: 0.5rem;
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}

.form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: rgb(241, 241, 241);
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}

.form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
    transform: translate3d(16px, 2px, 0);
}

.form-switch input {
    display: none;
}

.form-switch input:checked + i {
    background-color: #4bd763;
}

.form-switch input:checked + i::before {
    transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
    transform: translate3d(22px, 2px, 0);
}

.aCheckboxDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 90px);
}

.firstCheckBox {
    margin-top: 25px !important;
}

.largeSettingTitle {
    font-size: 25px;
    margin: 10px 0 10px 10px;
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

#serverConfigStatus {
    margin: 0;
    margin-left: 7px;
}

#clientConfigStatus {
    margin: 0;
    margin-left: 7px;
}

#fcmClientDrop-Set {
    height: 100px;
    min-height: 100px;
    width: 75%;
    border-radius: 20px;
    border: 3px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: border-radius 0.2s;
}

#fcmServerDrop-Set {
    height: 100px;
    min-height: 100px;
    width: 75%;
    border-radius: 20px;
    border: 3px solid var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 35px auto;
    transition: border-radius 0.2s;
}

#fcmClientDrop-Set:hover {
    border-radius: 30px;
}

#fcmServerDrop-Set:hover {
    border-radius: 30px;
}

#fcmClientDrop-Set div p {
    color: var(--primary-color);
}

#fcmServerDrop-Set div p {
    color: var(--primary-color);
}

.aDeviceRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 140px);
    margin-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-top: 1px solid grey;
    color: var(--primary-color);
}

#deviceIdentifier {
    word-break: break-all;
    text-align: center;
    max-width: 70%;
}

#lastActive {
    word-break: break-all;
    text-align: right;
}

#devicesHeadings {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 130px);
    margin-left: 30px;
    margin-bottom: 15px;
}

#devicesHeadings > h1 {
    font-size: 18px;
    margin: 0;
    color: var(--primary-color);
    margin-right: 10px;
}

.aDeviceRow p {
    color: var(--primary-color) !important;
    margin: 0;
    font-size: 14px;
    vertical-align: middle;
}

#headingRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
