#dashboardTopNav {
    width: 100%;
    height: 10%;
    /* background-color: red; */
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dashboardTopLeftNav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dashboardTopLeftNav > h1 {
    margin: 0;
    font-size: 30px;
    color: var(--primary-color);
}

#dashboardTopRightNav {
    display: flex;
    align-items: center;
    justify-content: center;
}

#settingsIconLink {
    height: 30px;
    width: 30px;
    margin-left: 20px;
    margin-right: 8px;
    transition: transform 0.7s;
    outline: none;
}

#settingsIcon {
    fill: var(--primary-color);
}

#bellIcon {
    height: 30px;
    width: 30px;
    fill: var(--primary-color);
    margin-right: 25px;
}

#bellIcon:hover {
    cursor: pointer;
}

#settingsIconLink:hover {
    transform: rotate(180deg);
}

#alertsModal {
    position: absolute;
    padding: 10px;
    width: 50%;
    max-width: 50%;
    min-width: 40%;
    height: auto;
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 2;
    top: 90px;
    right: 12px;
    background-color: var(--background-color);
    border: 3px solid var(--primary-color);
    border-radius: 10px;
}

/* After doesnt work with actiave alerts */

/* 
#alertsModal:after {
    content: "";
    position: absolute;
    right: 10px;
    top: -15px;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid black;
  } */

.aAlertItem {
    width: 100%;
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    height: auto;
}

.aAlertItem:last-child {
    border: none;
}

.alertLeftSide {
    display: flex;
    flex-direction: column;
    width: 75%;
    min-width: 75%;
    height: 100%;
}

.alertLeftSide p {
    margin: 0;
    padding: 3px 5px;
    font-weight: bold;
    overflow: hidden;
    color: var(--primary-color);
}

#readTxt {
    font-size: 12px;
    color: grey;
}

.alertRightSide {
    display: flex;
    flex-direction: column;
    width: 25%;
    min-width: 25%;
    height: 100%;
    align-items: flex-end;
}

.alertRightSide svg {
    fill: var(--primary-color);
}

.alertRightSide p {
    color: var(--primary-color);
}

#alertTopbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#alertTopbar button {
    background: none;
    text-decoration: none;
    outline: none;
    border-radius: 8px;
    border: 2px solid var(--primary-color);
    padding: 5px;
    margin-left: 25px;
    color: var(--primary-color);
    transition: border-radius 0.25s;
    cursor: pointer;
}

#noAlertText {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}
